@font-face {
    font-family: "DancingScript-Regular";
    src: url("../fonts/DancingScript-Regular.ttf");
}
.font-dancing-script-regular {
    font-family: "DancingScript-Regular";
}

.word-wraping {
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}
  

.link-design {
    $link-color: white;
    $link-color-h: lightgray;
    color: $link-color;
    display: inline-block;
    text-decoration: none !important;
    background-image: linear-gradient(to right, $link-color-h, $link-color-h);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s, color .5s;
    
    &:hover {
        color: $link-color-h;
        background-size: 100% 2px;
    }
}