<template>
  <div class="ui basic content center aligned segment">
    <!-- <button class="ui basic button icon" @click="openForm" v-show="!isCreating">
      Add task
    </button> -->
    <t-button
      @click="$refs.modal.show()"
      class="btn btn-teal"
      transition="fade"
    >
      Add task
    </t-button>
    <t-modal ref="modal">
      <div>
        <div class="field">
          <label>Title</label>
          <t-input
            v-model="titleText"
            name="title"
            type="text"
            ref="title"
            defaultValue=""
          />
        </div>
        <div class="field">
          <label>Description</label>
          <t-textarea
            v-model="descriptionText"
            name="description"
            type="text"
            ref="description"
            defaultValue=""
          ></t-textarea>
        </div>
        <div v-if="titleText == '' || descriptionText == ''">
          Tous les champs doivent être remplis
        </div>
        <div class="ui two button attached buttons">
          <t-button
            class="ui basic blue button"
            @keyup.enter="sendForm"
            @click="sendForm"
          >
            Create
          </t-button>
        </div>
      </div>
    </t-modal>
  </div>
</template>

<script>
export default {
  name: 'create-task',
  data() {
    return {
      titleText: '',
      descriptionText: '',
      isCreating: false
    }
  },
  methods: {
    openForm() {
      this.isCreating = true
    },
    closeForm() {
      this.isCreating = false
    },
    sendForm() {
      if (this.titleText.length > 0 && this.descriptionText.length > 0) {
        const title = this.titleText
        const description = this.descriptionText
        this.$emit('create-todo', title, description, false)
        this.$refs.modal.hide()
        this.newTodoText = ''
      }
      this.isCreating = true
    }
  }
}
</script>

<style lang="scss" scoped></style>
