<template>
  <div>
    <p
      class="text-base font-bold flex items-center justify-center lg:justify-start"
    >
      <svg
        class="h-4 fill-current text-teal-700 pr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
        />
      </svg>
      <a
        href="https://portfolio.ewilan-riviere.com/"
        target="_blank"
        class="link-design mr-1"
      >
        Ewilan Rivière
      </a>
      &
      <a
        href="https://gitlab.com/CodeAcademieAlice"
        target="_blank"
        class="link-design ml-1"
      >
        Alice Carry
      </a>
    </p>
    <p
      class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"
    >
      <svg
        class="h-4 fill-current text-teal-700 pr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z"
        />
      </svg>
      Created at
      <a
        href="http://code-academie.fr/"
        target="_blank"
        class="link-design mx-1"
      >
        Code Académie
      </a>
      in 2018
    </p>
    <p class="pt-8 text-sm word-wraping" lang="en">
      With this app, you can list all your tasks and define if it pending or
      completing. If your task progress, you edit it to change informations. Of
      course, you can delete it if you want. All yours tasks are keep in
      security with an account (that you can create) and only you can access to
      it.
    </p>

    <div class="pt-12 pb-8">
      <button
        class="bg-teal-700 transition-colors duration-300 hover:bg-teal-900 text-white font-bold py-2 px-8 rounded-full z-10"
        @click="onClickButton(event)"
      >
        Try it now
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hello-message',
  data() {
    return {
      event: null
    }
  },
  methods: {
    // eslint-disable-next-line no-unused-vars
    onClickButton(event) {
      this.$emit('clicked', 'someValue')
    }
  }
}
</script>
