<template>
  <div>
    <form v-if="token === null" @submit.prevent="login(mail, password)">
      <div class="mb-8">
        <div style="min-height: 2rem">
          {{ errorMessage }}
        </div>
        <t-input
          v-model="mail"
          class="text-black mb-4"
          placeholder="E-mail"
          ref="mail"
          type="email"
          required
        />
        <t-input
          v-model="password"
          placeholder="Password"
          ref="password"
          type="password"
          required
        />
        <div class="mt-10">
          <button
            class="bg-teal-700 transition-colors duration-300 hover:bg-teal-900 text-white font-bold py-2 px-4 mr-2"
          >
            Sign in
          </button>
          <button
            class="bg-teal-700 transition-colors duration-300 hover:bg-teal-900 text-white font-bold py-2 px-4 ml-2"
            @click="sampleAccount()"
          >
            Sample
          </button>
        </div>
      </div>
    </form>
    <router-link
      v-if="tokenDetected()"
      class="bg-teal-700 transition-colors duration-300 hover:bg-teal-900 text-white font-bold py-2 px-4"
      :to="{ name: 'tasks-list' }"
    >
      Login with {{ cookieUser }}
    </router-link>
    <register></register>
  </div>
</template>

<script>
import register from './register'

export default {
  name: 'login',
  components: {
    register
  },
  data() {
    return {
      token: null,
      mail: '',
      password: '',
      errorMessage: null,
      cookieUser: this.$cookies.get('user'),
      tasks: []
    }
  },
  methods: {
    tokenDetected() {
      let token = this.$cookies.get('token')
      if (token !== null) {
        return true
      }
      return false
    },
    login(mail, password) {
      this.$axios
        .post(`${this.api}/api/login`, {
          email: mail,
          password: password
        })
        .then((response) => {
          this.token = response.data.success.token
          this.$cookies.set('token', this.token, 60 * 60 * 24 * 30)
          this.$cookies.set('user', mail, 60 * 60 * 24 * 30)
          this.$router.push({
            name: 'tasks-list'
          })
          this.errorMessage = null
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.errorMessage = 'Identifiants incorrects'
          } else if (e.response.status === 404) {
            this.errorMessage = 'Erreur inattendue (404)'
          } else {
            this.errorMessage = 'Erreur'
          }
        })
    },
    sampleAccount() {
      this.mail = 'user@mail.com'
      this.password = 'password'
    }
  }
}
</script>

<style lang="scss" scoped>
input {
  color: white !important;
  border-radius: 0 !important;
  border-color: black;
  background-color: rgba(black, 0.1);
  &::placeholder {
    color: lightgray;
    font-weight: bold;
    font-family: 'DancingScript-Regular';
  }
}
</style>
