<template>
  <div>
    <t-button @click="$refs.register.show()" class="btn btn-teal">
      Sign up
    </t-button>
    <t-modal ref="register">
      <div class="form_width mx-auto mt-4 text-black">
        <div class="font-weight-bold my-1">S'inscrire</div>
        <div>{{ erreurinsc }}</div>
        <t-input
          v-model="nom_rgt"
          placeholder="Nom"
          ref="nom_rgt"
          type="text"
          required
        />
        <t-input
          v-model="mail_rgt"
          placeholder="E-mail"
          ref="mail_rgt"
          type="email"
          required
        />
        <t-input
          v-model="password_rgt"
          placeholder="Mot de passe"
          ref="password_rgt"
          type="password"
          required
        />
        <t-input
          v-model="c_password_rgt"
          placeholder="Confirmation"
          ref="c_password_rgt"
          type="password"
          required
        />
        <div
          class="mt-3 text-black"
          v-if="
            password_rgt !== '' &&
              c_password_rgt !== '' &&
              password_rgt !== c_password_rgt
          "
        >
          Oh non, les mots de passe ne correspondent pas ! 😢
        </div>
        <div
          class="mt-3 text-black"
          v-if="
            password_rgt !== '' &&
              c_password_rgt !== '' &&
              password_rgt === c_password_rgt
          "
        >
          Oh oui, les mots de passe correspondent ! ✔️
        </div>
        <t-button
          class="btn btn-teal border_rounded mt-3"
          @click="create(nom_rgt, mail_rgt, password_rgt, c_password_rgt)"
        >
          S'inscrire
        </t-button>
      </div>
    </t-modal>
  </div>
</template>

<script>
export default {
  name: 'register',
  data() {
    return {
      nom_rgt: '',
      mail_rgt: '',
      password_rgt: '',
      c_password_rgt: '',
      erreurinsc: ''
    }
  },
  async created() {
    await this.getUsers()
  },
  methods: {
    async getUsers() {
      const baseURI = `${process.env.VUE_APP_API_URL}/api/users`
      // eslint-disable-next-line no-unused-vars
      let data = await this.$axios.get(baseURI).catch(function(error) {
        // eslint-disable-next-line no-console
        console.error(error)
      })
    },
    validEmail(email) {
      // eslint-disable-next-line
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email)
    },
    create(nom_rgt, mail_rgt, password_rgt, c_password_rgt) {
      if (
        nom_rgt == '' ||
        mail_rgt == '' ||
        password_rgt == '' ||
        c_password_rgt == ''
      ) {
        this.erreurinsc = 'Il faut remplir tous les champs.'
      } else if (!this.validEmail(mail_rgt)) {
        this.erreurinsc = 'Adresse mail non valide.'
      } else if (password_rgt === c_password_rgt) {
        this.$axios
          .post(`${process.env.VUE_APP_API_URL}/api/register`, {
            name: nom_rgt,
            email: mail_rgt,
            password: password_rgt,
            c_password: c_password_rgt
          })
          .then((response) => {
            this.token = response.data.success.token
            this.$cookies.set('token', this.token, 60 * 60 * 24 * 30)
            this.$cookies.set('user', this.mail_rgt, 60 * 60 * 24 * 30)
            this.$refs.register.hide()
            this.$router.push({
              name: 'tasks-list'
            })
            this.erreurinsc = ''
          })
          .catch((e) => {
            if (e.response.status === 401) {
              this.erreurinsc = 'Identifiants incorrects'
            } else if (e.response.status === 404) {
              this.erreurinsc = 'Erreur inattendue (404)'
            } else {
              this.erreurinsc = 'Erreur'
            }
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
input {
  color: black;
}
</style>
