<template>
  <div class="m-10">
    <div class="pb-4 flex justify-between">
      <router-link :to="{ name: 'welcome' }" class="w-64">
        <h1 class="text-3xl font-bold pt-8 lg:pt-0 font-dancing-script-regular">
          ToDo List
        </h1>
        <div
          class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-teal-500 opacity-25"
        ></div>
      </router-link>
      <div class="flex">
        <div class="my-auto mr-6">
          {{ user !== null ? `Hello, ${user.name}` : '' }}
        </div>
        <t-button class="btn btn-teal" @click="signOut()">
          Sign out
        </t-button>
      </div>
    </div>
    <div
      class="flex justify-between w-48 font-dancing-script-regular font-4xl font-bold"
    >
      <div>
        <div>
          Pending
        </div>
        <div class="text-center">
          {{ tasksStatus(0) }}
        </div>
      </div>
      <div>
        <div>
          Completed
        </div>
        <div class="text-center">
          {{ tasksStatus(1) }}
        </div>
      </div>
    </div>
    <create-task v-on:create-todo="addTodo" class="my-6"></create-task>
    <div class="grid grid-cols-3 gap-4">
      <task
        v-on:delete-task="deleteTask"
        v-on:switch-task-state="switchTaskState"
        v-for="task in tasks"
        :key="task.id"
        :task.sync="task"
      ></task>
    </div>
  </div>
</template>

<script type="text/javascript">
import task from './task'
import createTask from './create-task'

export default {
  name: 'tasks-list',
  components: {
    task,
    createTask
  },
  data() {
    return {
      token: this.$cookies.get('token'),
      user: null,
      tasks: []
    }
  },
  mounted() {
    this.getTasks()
  },
  created() {
    this.getUserInfo()
  },
  methods: {
    tasksStatus(status) {
      let nbStatus = 0
      this.tasks.forEach((task) => {
        if (task.state === status) {
          nbStatus++
        }
      })
      return nbStatus
    },
    addTodo(title, description, state) {
      const token = this.token
      this.$axios
        .post(
          `${process.env.VUE_APP_API_URL}/api/tasks/add?api_token=` + token,
          {
            title: title,
            description: description,
            state: state
          }
        )
        .then((response) => {
          this.tasks.push(response.data)
        })
    },
    getUserInfo() {
      this.$axios
        .get(`${this.api}/api/user?api_token=` + this.token)
        .then((response) => {
          this.user = response.data
        })
    },
    getTasks() {
      if (this.token === null) {
        this.$router.push({
          name: 'welcome'
        })
      }
      this.$axios
        .get(`${this.api}/api/tasks?api_token=` + this.token)
        .then((response) => {
          this.tasks = response.data
        })
        .catch((e) => {
          this.$cookies.remove('user')
          this.$cookies.remove('token')
          this.$router.push({
            name: 'welcome'
          })
        })
    },
    signOut() {
      this.$cookies.remove('user')
      this.$cookies.remove('token')
      this.$router.push({
        name: 'welcome'
      })
    },
    deleteTask(task) {
      const taskIndex = this.tasks.indexOf(task)
      this.tasks.splice(taskIndex, 1)
      const ind = task['id']
      this.$axios.delete(
        `${process.env.VUE_APP_API_URL}/api/tasks/` +
          ind +
          `/delete?api_token=` +
          this.token
      )
    },
    switchTaskState(task) {
      const taskIndex = this.tasks.indexOf(task)
      const taskId = task['id']
      const currentTask = this.tasks[taskIndex]

      if (currentTask.state === 1) {
        currentTask.state = 0
      } else {
        currentTask.state = 1
      }
      console.log(currentTask.state)

      this.$axios.put(
        `${this.api}/api/tasks/${taskId}/update?api_token=${this.token}`,
        {
          title: currentTask.title,
          description: currentTask.description,
          state: currentTask.state
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped></style>
