<template>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="bloc_tasks book mt-3">
        <div class="content" v-show="!isEditing">
          <div class="text-3xl mb-6 font-dancing-script-regular">
            {{ task.title }}
          </div>
          <div class="overflow-y-auto" style="height: 5rem">
            {{ task.description }}
          </div>
          <div class="my-8">
            <div class="mb-2">
              Current state:
            </div>
            <div
              class="border font-bold transition-colors duration-300 rounded py-2 px-4 max-w-max-content cursor-pointer"
              :class="{
                'border-green-500 hover:bg-green-500 hover:text-white':
                  task.state,
                'border-red-500 bg-red-500 hover:bg-white hover:text-black text-white': !task.state
              }"
              @click="switchTaskState(task)"
            >
              {{ task.state === 1 ? 'Completed' : 'Pending' }}
            </div>
          </div>
          <div class="my-4">
            <span class="btn btn-blue mr-2" @click="showForm">
              Edit
            </span>
            <span class="btn btn-red mr-2" @click="deleteTask(task)">
              Delete
            </span>
          </div>
        </div>
        <div class="content" v-show="isEditing">
          <div class="ui form">
            <div class="field">
              <label>Title</label>
              <t-input type="text" v-model="task.title" />
            </div>
            <div class="field">
              <label>Description</label>
              <t-input type="text" v-model="task.description" />
            </div>
            <div class="ui two button attached buttons">
              <t-button class="ui basic blue button" @click="editTask(task)">
                Save
              </t-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'task',
  props: {
    task: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isEditing: false,
      token: this.$cookies.get('token')
    }
  },
  methods: {
    showForm() {
      this.isEditing = true
    },
    editTask(task) {
      this.isEditing = false
      const taskId = task['id']
      this.$axios.put(
        `${this.api}/api/tasks/${taskId}/update?api_token=${this.token}`,
        {
          title: task.title,
          description: task.description,
          state: task.state
        }
      )
    },
    deleteTask(task) {
      this.$emit('delete-task', task)
    },
    switchTaskState(task) {
      this.$emit('switch-task-state', task)
    }
  }
}
</script>

<style lang="scss" scoped></style>
