<template>
  <div
    class="font-sans antialiased leading-normal tracking-wider bg-cover"
    :class="[
      theme === 'light' ? 'bg-white text-gray-900' : 'bg-gray-900 text-gray-100'
    ]"
    :style="`background-image:url(${bgImg});`"
  >
    <div
      class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto py-32 lg:my-0"
    >
      <!--Main Col-->
      <div
        id="profile"
        class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl opacity-75 mx-6 lg:mx-0 relative"
        :class="[
          theme === 'light'
            ? 'bg-white text-gray-900'
            : 'bg-gray-900 text-gray-100'
        ]"
        style="min-height: 35rem"
      >
        <div class="p-4 md:p-12 text-center lg:text-left">
          <!-- Image for mobile view-->
          <div
            class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
            :style="`background-image: url(${sideImg})`"
          ></div>

          <div class="pb-4">
            <h1
              class="text-3xl font-bold pt-8 lg:pt-0 font-dancing-script-regular"
            >
              ToDo List
            </h1>
            <div
              class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-teal-500 opacity-25"
            ></div>
          </div>

          <transition name="component-fade" mode="out-in">
            <component v-bind:is="view" @clicked="onClickChild"></component>
          </transition>

          <!-- <transition name="fade">
            <div v-if="isLoginView"></div>
          </transition>
          <transition name="component-fade" mode="out-in">
            <component :is="view"></component>
            <login></login>
          </transition>
          <transition name="fade">
            <div v-if="!isLoginView"></div>
          </transition> -->

          <div
            class="mt-6 pb-16 lg:pb-0 w-4/5 lg:w-full mx-auto flex flex-wrap items-center justify-between"
          >
            <a class="link" href="#" data-tippy-content="@github_handle"
              ><svg
                class="h-6 fill-current text-gray-600 hover:text-teal-700"
                role="img"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>GitHub</title>
                <path
                  d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                /></svg
            ></a>
          </div>

          <!-- Use https://simpleicons.org/ to find the svg for your preferred product -->
        </div>
      </div>

      <!--Img Col-->
      <div class="w-full lg:w-2/5">
        <!-- Big profile image for side bar (desktop) -->
        <img
          :src="sideImg"
          class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block object-cover"
          style="height: 36rem"
        />
        <!-- Image from: http://unsplash.com/photos/MP0IUfwrn0A -->
      </div>
    </div>
  </div>
</template>

<script>
import helloMessage from './hello-message'
import login from './login'

export default {
  name: 'welcome',
  components: {
    helloMessage,
    login
  },
  props: {
    theme: {
      type: String,
      default: 'dark'
    }
  },
  methods: {
    onClickChild(value) {
      this.view = login
      // console.log(value) // someValue
    }
  },
  data() {
    return {
      isLoginView: false,
      view: helloMessage,
      bgImg: 'images/wallpaper.jpg',
      sideImg: 'images/side-notebook.jpg'
    }
  }
}
</script>
