@tailwind base;
@tailwind components;
@tailwind utilities;


/* fades */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}
.moveInUp-enter-active{
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.moveInUp-leave-active{
  animation: moveInUp .2s ease-in;
}
@keyframes moveInUp{
 0%{
  transform: translateY(0);
 }
  100%{
  transform: translateY(-400px);
 }
}

/* button style */
.btn {
    @apply font-bold transition-colors duration-300 py-2 px-4 cursor-pointer;
}
.btn-teal {
    @apply bg-teal-700 text-white;
}
.btn-teal:hover {
    @apply bg-teal-800;
}
.btn-blue {
    @apply bg-blue-700 text-white;
}
.btn-blue:hover {
    @apply bg-blue-800;
}
.btn-red {
    @apply bg-red-700 text-white;
}
.btn-red:hover {
    @apply bg-red-800;
}

.max-w-max-content {
    max-width: max-content;
}