<template>
  <div>
    <transition name="moveInUp">
      <router-view />
    </transition>
  </div>
</template>

<script>
import welcome from './components/welcome'

export default {
  name: 'App',
  components: {},
  data() {
    return {}
  }
}
</script>

<style></style>
