<template>
  <div class="font_write h2 axe_write">
    <input type="text" class="input_book" placeholder="Add task" />
    <input v-model="message" placeholder="modifiez-moi" />
    <p>Le message est : {{ message }}</p>
  </div>
</template>

<script>
export default {
  name: 'AddTask',
  props: {}
}
</script>

<style>
.input_book {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
</style>
