<template>
  <div class="flex-center position-ref full-height">
    <div class="content">
      <div class="text-6xl font-dancing-script-regular mb-10">
        ToDo List
      </div>
      <div v-if="token === ''">
        <div
          class="max-w-sm w-full lg:max-w-full lg:flex m-auto"
          style="width: max-content"
        >
          <img
            src="./assets/todo-list.jpg"
            alt="todo-list"
            class="h-48 lg:h-auto lg:w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden object-cover"
          />
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <t-input
                v-model="mail"
                placeholder="E-mail"
                ref="mail"
                type="email"
                required
              />
              <t-input
                v-model="password"
                placeholder="Password"
                ref="password"
                type="password"
                required
              />
              <t-button
                class="mt-10"
                variant="success"
                size="sm"
                type="submit"
                @click="conn(mail, password)"
              >
                Login
              </t-button>
              <div>
                {{ erreurconn }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="token !== ''">
      <div class="top-right">
        <button
          @click="token = ''"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Sign out
        </button>
      </div>
      <todo-list v-bind:todos="todos"></todo-list>
    </div>
    <!-- <div class="form_width mx-auto mt-4">
        <div class="font-weight-bold my-1">S'inscrire</div>
        <div>{{ erreurinsc }}</div>
        <input
          v-model="nom_rgt"
          class="border_rounded text-center form-control"
          placeholder="Nom"
          ref="nom_rgt"
          type="text"
          required
        />
        <input
          v-model="mail_rgt"
          class="border_rounded text-center form-control"
          placeholder="E-mail"
          ref="mail_rgt"
          type="email"
          required
        />
        <input
          v-model="password_rgt"
          class="border_rounded text-center form-control"
          placeholder="Mot de passe"
          ref="password_rgt"
          type="password"
          required
        />
        <input
          v-model="c_password_rgt"
          class="border_rounded text-center form-control"
          placeholder="Confirmation"
          ref="c_password_rgt"
          type="password"
          required
        />
        <div
          class="mt-3"
          v-if="
            password_rgt !== '' &&
              c_password_rgt !== '' &&
              password_rgt !== c_password_rgt
          "
        >
          Oh non, les mots de passe ne correspondent pas ! 😢
        </div>
        <div
          class="mt-3"
          v-if="
            password_rgt !== '' &&
              c_password_rgt !== '' &&
              password_rgt === c_password_rgt
          "
        >
          Oh oui, les mots de passe correspondent ! ✔️
        </div>
        <button
          class="btn btn-success border_rounded mt-3"
          @click="create(nom_rgt, mail_rgt, password_rgt, c_password_rgt)"
        >
          S'inscrire
        </button>
      </div> -->
  </div>
</template>

<script>
import TodoList from './components/TodoList.vue'
import axios from 'axios'
export default {
  components: {
    TodoList
  },
  data() {
    return {
      todos: [],
      mail: 'ewilan@mail.com',
      password: '',
      token: '',
      nom_rgt: '',
      mail_rgt: '',
      password_rgt: '',
      c_password_rgt: '',
      task_id: '',
      erreurconn: '',
      erreurinsc: ''
    }
  },
  async created() {
    await this.getUsers()
  },
  methods: {
    async getUsers() {
      const baseURI = `${process.env.VUE_APP_API_URL}/api/users`
      // eslint-disable-next-line no-unused-vars
      let data = await this.$axios.get(baseURI).catch(function(error) {
        // eslint-disable-next-line no-console
        console.error(error)
      })
    },
    conn(mail, password) {
      axios
        .post(`${process.env.VUE_APP_API_URL}/api/login`, {
          email: mail,
          password: password
        })
        .then((response) => {
          this.token = response.data.success.token
          this.affichetodo(response.data.success.token)
          this.erreurconn = ''
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.erreurconn = 'Identifiants incorrects'
          } else if (e.response.status === 404) {
            this.erreurconn = 'Erreur inattendue (404)'
          } else {
            this.erreurconn = 'Erreur'
          }
        })
    },
    validEmail(email) {
      // eslint-disable-next-line
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email)
    },
    create(nom_rgt, mail_rgt, password_rgt, c_password_rgt) {
      if (
        nom_rgt == '' ||
        mail_rgt == '' ||
        password_rgt == '' ||
        c_password_rgt == ''
      ) {
        this.erreurinsc = 'Il faut remplir tous les champs.'
      } else if (!this.validEmail(mail_rgt)) {
        this.erreurinsc = 'Adresse mail non valide.'
      } else if (password_rgt === c_password_rgt) {
        axios
          .post(`${process.env.VUE_APP_API_URL}/api/register`, {
            name: nom_rgt,
            email: mail_rgt,
            password: password_rgt,
            c_password: c_password_rgt
          })
          .then((response) => {
            this.token = response.data.success.token
            this.erreurinsc = ''
          })
          .catch((e) => {
            if (e.response.status === 401) {
              this.erreurinsc = 'Identifiants incorrects'
            } else if (e.response.status === 404) {
              this.erreurinsc = 'Erreur inattendue (404)'
            } else {
              this.erreurinsc = 'Erreur'
            }
          })
      }
    },
    affichetodo(token) {
      axios
        .get(`${process.env.VUE_APP_API_URL}/api/tasks?api_token=` + token)
        .then((response) => {
          this.todos = response.data

          //this.task_id = response.data[0].id;
        })
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

input {
  width: 15rem !important;
  margin: 0.5rem 0 !important;
}
button {
  font-weight: bold !important;
  padding: 1rem 2rem !important;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
  max-height: 100vh;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}
</style>
