<template>
  <div>
    Completed Tasks:
    {{
      todos.filter((todo) => {
        return todo.state === true
      }).length
    }}
    Pending Tasks:
    {{
      todos.filter((todo) => {
        return todo.state === 0
      }).length
    }}
    <todo
      v-on:delete-todo="deleteTodo"
      v-on:complete-todo="completeTodo"
      v-on:unfinish-todo="unfinishTodo"
      v-for="todo in todos"
      :key="todo.id"
      :todo.sync="todo"
    ></todo>
    <create-todo v-on:create-todo="addTodo" />
  </div>
</template>

<script type="text/javascript">
import Todo from './Todo.vue'
import CreateTodo from './CreateTodo.vue'
import axios from 'axios'
export default {
  props: ['todos'],
  components: {
    Todo,
    CreateTodo
  },
  data() {
    return {
      token: this.$parent.token
      //task_id: this.$parent.task_id,
    }
  },
  methods: {
    addTodo(title, description, state) {
      const token = this.token
      axios
        .post(
          `${process.env.VUE_APP_API_URL}/api/tasks/add?api_token=` + token,
          {
            title: title,
            description: description,
            state: state
          }
        )
        .then((response) => {
          this.todos.push(response.data)
        })
    },
    deleteTodo(todo) {
      const todoIndex = this.todos.indexOf(todo)
      this.todos.splice(todoIndex, 1)
      const ind = todo['id']
      axios.delete(
        `${process.env.VUE_APP_API_URL}/api/tasks/` +
          ind +
          `/delete?api_token=` +
          this.token
      )
    },
    completeTodo(todo) {
      const todoIndex = this.todos.indexOf(todo)
      this.todos[todoIndex].state = true
      const idtask = todo['id']
      axios.put(
        `${process.env.VUE_APP_API_URL}/api/tasks/` +
          idtask +
          `/update?api_token=` +
          this.token,
        {
          title: todo['title'],
          description: todo['description'],
          state: todo['state']
        }
      )
    },
    unfinishTodo(todo) {
      const todoIndex = this.todos.indexOf(todo)
      this.todos[todoIndex].state = 0
      const idtask = todo['id']
      axios.put(
        `${process.env.VUE_APP_API_URL}/api/tasks/` +
          idtask +
          `/update?api_token=` +
          this.token,
        {
          title: todo['title'],
          description: todo['description'],
          state: 0
        }
      )
    }
  }
}
</script>
