<template>
  <div class="">
    <div class="bloc_tasks book mt-3">
      <div class="content" v-show="!isEditing">
        <div class="h4">
          {{ todo.title }}
        </div>
        <div class="">
          {{ todo.description }}
        </div>
        <div class="extra content">
          <span class="right floated edit icon" @click="showForm">
            <i class="edit icon"></i>
          </span>
          <span class="right floated trash icon" @click="deleteTodo(todo)">
            <i class="trash icon"></i>
          </span>
        </div>
      </div>
      <div class="content" v-show="isEditing">
        <div class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" v-model="todo.title" />
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" v-model="todo.description" />
          </div>
          <div class="ui two button attached buttons">
            <button class="ui basic blue button" @click="edittodo(todo)">
              Close X
            </button>
          </div>
        </div>
      </div>
      <div
        class="ui bottom attached bg-success basic button"
        v-show="!isEditing && todo.state"
        @click="unfinishTodo(todo)"
      >
        Completed
      </div>
      <div
        class="ui bottom attached bg-danger basic button"
        v-show="!isEditing && !todo.state"
        @click="completeTodo(todo)"
      >
        Pending
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import axios from 'axios'
export default {
  props: ['todo'],
  data() {
    return {
      isEditing: false,
      token: this.$parent.token
    }
  },
  methods: {
    showForm() {
      this.isEditing = true
    },
    edittodo(todo) {
      this.isEditing = false
      const idtask = todo['id']
      axios.put(
        `${process.env.VUE_APP_API_URL}/api/tasks/` +
          idtask +
          `/update?api_token=` +
          this.token,
        {
          title: todo.title,
          description: todo.description,
          state: todo.state
        }
      )
    },
    deleteTodo(todo) {
      this.$emit('delete-todo', todo)
    },
    completeTodo(todo) {
      this.$emit('complete-todo', todo)
    },
    unfinishTodo(todo) {
      this.$emit('unfinish-todo', todo)
    }
  }
}
</script>
<style>
.book {
  /* padding-left: 20%; */
}

.bloc_tasks {
  /* width: 35vw; */
  /* transform: rotate(15deg); */
  font-family: 'DancingScript-Regular';
}
</style>
